@{
    ViewData["Title"] = "Home Page";
}

@model IQueryable<Project>

<div class="text-center">
    <header>
        <h1>Here are the available books</h1>
    </header>
</div>

@foreach (var x in Model)
{
    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1">
            <h4>
                Title: @x.Title
                <span class="badge badge-pill badge-primary" style="float:right">
                    Price: @x.Price
                </span>
            </h4>
            <p>Author: @x.Author</p>
            <p>Publisher: @x.Publisher</p>
            <p>ISBN: @x.ISBN</p>
            <p>Classification: @x.Classification</p>
            <p>Page Numbers: @x.PageNumbers</p>
        </div>
        
    </div>
}